 body {
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            background-color: #f4f4f4;
            padding: 20px;
        }
        h1 {
            color: #d3ac29;
        }
        label {
            display: block;
            margin: 10px 0 5px;
        }
        input {
            padding: 8px;
            width: 100%;
            max-width: 300px;
            margin-bottom: 15px;
        }
        button {
            padding: 10px 15px;
            background-color: #d3ac29;
            color: white;
            border: none;
            cursor: pointer;
        }
        button:hover {
            background-color: #85c723;
        }
        #respuesta {
            margin-top: 20px;
            font-weight: bold;
        }
